app-left-room-bar {
  height: 100%;
}

.holder {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #3a3a3a;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
}

p {
  color: #fff;
}

app-message {
  min-height: 10%;
  width: 100%;
  display: flex;
  overflow: overlay;
}
