.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.admin-card {
  clear: both;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-card {
  margin-right: 20px;
}

a {
  color: #fff;
}

mat-card {
  margin-top: 20px;
}
