<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>
            <p>
                Shiba Inu
            </p>
        </mat-card-title>
        <mat-card-subtitle>
            <p>
                @SatochiDogamoto
            </p>
        </mat-card-subtitle>
        <mat-card-content class="admin-card">
            <mat-chip-list>
                <mat-chip color="primary" selected>Admin</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <p>
            <a href="https://www.bing.com">More Info</a>
        </p>
        <p>
            <a href="https://www.google.com">Terms of Service</a>
        </p>
    </mat-card-header>
</mat-card>