#container {
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.bottom-spacing {
    height: 80px;
}

app-message {
    min-height: 10%;
    width: 100%;
    display: flex;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #3a3a3a;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #303030;
}

::-webkit-scrollbar-thumb:hover {
    background: #282828;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }