.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #303030;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

p {
    color: #fff;
}