<mat-card>
  <mat-card-title>About</mat-card-title>
  <mat-card-subtitle
    >This is the about page for your RoundHouse server!</mat-card-subtitle
  >
  <mat-card-content>
    <p>
      I need to figure out how to make this text customizable, but in the
      meantime, testing out an example information page is fine.
    </p>
    <a href="https://www.bing.com">More Info</a>
    <a href="https://www.google.com">Terms of Service</a>
  </mat-card-content>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <mat-divider></mat-divider>
  <mat-card-footer>
    <app-bottom-card></app-bottom-card>
  </mat-card-footer>
</mat-card>
