mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
    width: 250px;
    background-color: #404040;
}

.room-tree-invisible {
    display: none;
}

.room-tree ul,
.room-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.room-tree .mat-nested-tree-node div[role=group] {
    padding-left: 10px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.room-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}